*,::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito', sans-serif;
}

html, body{
    scroll-behavior: smooth;
}

body.noscroll{
       overflow: hidden ;
}


/* header */

.header{
    z-index: 999999;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 20px 55px;
    height: 65px;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.5s ease-in-out;
}

/* scroll to top navbar styleing */

.header.active{
    height: 55px;
}

.hero .egg{
    z-index: 999;
position: absolute;
top: 8px;
left: -20px;
width: 80px;
transform: rotate(30deg);
}

.header .logo{
    transition: 0.4s ease-in-out;
    color: rgb(136, 132, 132);
    font-size: 26px;
    font-weight: bold;
}

.header.active .logo{
    font-size: 24px;
}

.logo:hover{
    color: #2EB1EA;
}
/* navbar for desktop Start*/
.header ul li:not(:last-child){
    margin-right: 30px;
}
.header ul li a{
    font-size: 16px;
    transition: 0.3s ease-in;
    font-weight: 600;
color: rgb(136, 132, 132);
}

.header ul li a:hover,
.header .social-links i:hover
{
    color: #2EB1EA;
}
/* navbar for desktop End*/




.header .social-links a:not(:last-child){
margin-right: 10px;
}
 .header .social-links a{
     cursor: pointer;
     color: rgb(136, 132, 132);
     font-size: 18px;
 }


 /* hero section */

.hero{
    padding-top: 100px;
}

 .hero .sub-heading{
margin-bottom: 20px;
 }
 .hero .sub-heading span{
color: #2EB1EA;
}

 .hero .right img{
width: 75%;
transform: translateX(130px);
 }

/* about section Start*/
.about{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right 70%;
}
.about .left img{
    width: 78%;
}

/* about section End*/


/* experience  Start*/

.experience{
    background-image: url(images/bg.png);
    background-repeat: no-repeat;
    background-position: left 70%;
}

.experi-container{
    gap: 50px;
}
.experience .experi-heading{
text-align: center;
margin: 60px 0;
position: relative;
}

.experi-heading::before{
    transform: translateX(-50%);
    position: absolute;
    content: "";
    bottom: -15px;
    left: 50%;
    width: 15%;
    height: 3px;
    background-image: var(--orange-linear);
}

.experience .item {
padding: 25px;   
box-shadow: var(--box-shadow);
min-height: 350px;
border-left: 6px solid;
}

.experience .item h1{
    font-size: 35px;
    margin-bottom: 20px;
}


.experience .left {
   border-image: var(--orange-bottom-linear) 1 ;
}

.experience .right{
    border-left: 5px solid;
    border-image: var(--blue-bottom-linear) 1 ;
}

/* experience  End*/

/* footer */

footer p{
    text-align: center;
padding-right: 0;
}
