a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h1 {
    font-size: 50px;
    font-weight: 700;
}

h2,
h3,
h4 {
    margin-bottom: 15px;
}

p {
    font-size: 17px;
    color: #848288;
    margin-bottom: 20px;
    line-height: 1.5;
    padding-right: 60px;
}

:root {
    --box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    --orange-linear: linear-gradient(to right, #FF8B69, #FF6B4E);
    --orange-bottom-linear: linear-gradient(to top, #FF8B69, #FF6B4E);
    --blue-linear: linear-gradient(to right, #5961DD, #7C2FD7);
    --blue-bottom-linear: linear-gradient(to top, #5961DD, #7C2FD7);
}


section {
    padding: 30px 75px;
    margin-bottom: 50px;
}

.main-color {
    color: #2EB1EA;
}

/* button Start*/

.cta-btn {
    font-size: 15px;
    font-weight: 900;
    padding: 10px 30px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: 2px solid;
}

/* for hire me button */

.cta-btn.hire {
    color: #FF6B4E;
    border-image: var(--orange-linear) 1;
}

.cta-btn.hire::before {
    background-image: var(--orange-linear);
}

/* for resume me button */

.cta-btn.resume {
    color: #7C2FD7;
    border-image: var(--blue-linear) 1;
}

.cta-btn.resume::before {
    background-image: var(--blue-linear) ;
}

.cta-btn:hover {
    color: #fff;
}

.cta-btn::before {
    transition: 0.7s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    z-index: -1;
}

.cta-btn:hover::before {
    transform: translateX(0);

}

/* button End*/

/* display flex */

.d-flex {
    display: flex;
}

.d-flex-section {
    display: flex;
    gap: 30px;
}

.d-flex-section>div {
    flex-basis: 50%;
}

.jc-c {
    justify-content: center;
}

.ai-c {
    align-items: center;
}

.jc-sb {
    justify-content: space-between;
}


@media screen and (max-width:1023px) {

    .social-links {
        display: none;
    }

    /* navbar for Mobile Start*/
    .hamburger-btn {
        width: 32px;
        height: 25px;
        cursor: pointer;
    }

    .hamburger-btn span {
        display: block;
        width: 100%;
        height: 3px;
        background-color: rgb(129, 126, 126);
    }

    .hamburger-btn span:not(:last-child) {
        margin-bottom: 5px;
    }

    .header ul {
        margin-top: 80px;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        top: -100%;
        background-color: #fff;
        width: 85%;
        height: 40%;
        flex-direction: column;
        padding: 30px;
        border-radius: 6px;
        justify-content: center;
        transition: 0.7s cubic-bezier(0.47, 0, 0.745, 0.715);
        box-shadow: var(--box-shadow);
    }
    .header ul li:not(:last-child) {
        margin-bottom: 15px;
    }
    .header nav ul li a {
      font-size: 16px;
      font-weight: bold;
    }

    .header.open ul {
        top: 0;
    }

    /* navbar for Mobile End*/
}


@media screen and (max-width:639px) {
    p{
        padding: 0 12px;
    }
h1{
    font-size: 33px;
}

h2{
    font-size: 20px;
}
    section{
        padding: 20px 15px;
    }

    #header {
        padding: 10px 30px;
    }

    .d-flex-section{
        flex-direction: column;
    }
    
    .hero-container {
    flex-direction: column-reverse;
    }
    
.hero .left, .about .right{
    text-align: center;
}

    .hero .right img.hero-img, .about .left img.about-img{
        transform: translateX(0);
        width: 50%;
        margin: 0 auto;
        display: block;
    }
    
    .about {
        background-size: 80px;
    }
    
    .experience .experi-container .item h1{
        font-size: 25px;
    }
    
    .experience .experi-container .item h3{
        font-size: 18px;
    }
    .experience .experi-container .item p{
      padding: 0;
    }



}


@media screen and (min-width:1024px) {
    .hamburger-btn {
        display: none;
    }
}